html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $text;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

button {
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: $text;
  overflow-x: hidden;
  position: relative;
}

.content {
  overflow-x: hidden;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
}
.container {
  max-width: 1640px;
  padding: 0 10px;
  margin: 0 auto;
}

.img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.title {
  font-size: rem(80);
  color: $dark;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 30px;
}
.subtitle {
  font-size: rem(18);
  color: $dark;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 30px;
}
.text {
  font-size: rem(14);
  color: $text;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 30px;
}

.center {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

// Button
.btn {
  padding: 25px 0;
  width: 100%;
  max-width: 190px;
  background-color: transparent;
  border: 1px solid $dark;
  border-radius: 50px;
  color: $dark;
  font-size: rem(12);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: linear 0.3s;
  overflow: hidden;
  position: relative;
  z-index: 2;

  &::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: $blue;
    transition: linear 0.3s;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
  }

  &:hover {
    color: #fff;
    border-color: $blue;

    &::before {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn--small {
  max-width: 170px;
  padding: 18px 0;
}

// Preloader
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #fff;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

// Burger
.burger {
  --burger-menu-radius: 4em;
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 10;
  display: block;
  width: var(--burger-menu-radius);
  height: var(--burger-menu-radius);
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);

  .line {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 3px;
    background: $dark;
    overflow: hidden;
    transition: all 0.5s ease;

    &:nth-child(1) {
      top: 30%;
    }

    &:nth-child(2) {
      top: 50%;
    }

    &:nth-child(3) {
      top: 70%;
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $blue;
      transform: translateX(-100%);
      transition: all 0.25s ease;
    }

    @for $i from 2 through 3 {
      &:nth-child(#{$i})::after {
        transition-delay: 0.1s * ($i - 1);
      }
    }
  }

  &.active {
    background: transparent;
    box-shadow: none;

    .line {
      background: #fff;

      &:nth-child(1) {
        transform: translateY(calc(var(--burger-menu-radius) / 6)) rotate(45deg);
      }

      &:nth-child(2) {
        transform: scaleX(0);
      }

      &:nth-child(3) {
        transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
      }
    }
  }

  &:hover {
    .line::after {
      transform: translateX(0);
    }
  }
}

// SLider
.slick-initialized {
  height: auto;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 70px;

  li {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #c0c8ca;
    transition: linear 0.2s;
    margin: 0 5px;
  }

  .slick-active {
    background-color: $blue;
  }

  button {
    border: none;
    background: none;
    font-size: 0;
  }
}

// Tabs
.tabs__inner {
  position: relative;
}
.tabs {
  position: absolute;
  top: 81%;
  right: 200px;
  text-align: right;
}
.tab {
  font-size: rem(16);
  font-weight: 500;
  margin-bottom: 35px;
  text-transform: uppercase;
  color: $grey;
  cursor: pointer;
  transition: linear 0.2s;

  &.active {
    color: $dark;
  }
}

.tab__slider {
  margin-bottom: 100px;
}

.tab__box {
  max-width: 800px;
  margin-left: 200px;
}

// Back to Top
button.back-to-top{
  margin: 0 !important;
  padding: 0 !important;
  background: #fff;
	height: 0px;
  width: 0px;
  overflow: hidden;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
  color: transparent;
	clear: both;
  visibility: hidden;
  position: fixed;
  cursor: pointer;
  display: block;
  border: none;
  right: 50px;
	bottom: 75px;
  font-size: 0px;
  outline: 0 !important;
  z-index: 8;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
button.back-to-top:hover,
button.back-to-top:active,
button.back-to-top:focus{
  outline: 0 !important;
}
button.back-to-top::before,
button.back-to-top::after {
  content: "";
    display: block;
    // vertical-align: middle;
    border-bottom: solid 10px #EA5D5F;
    border-left: solid 10px transparent;
    line-height: 0;
    border-right: solid 10px transparent;
    height: 0;
    margin: 18px auto 0;
    width: 0;
  border-radius:20px;
  visibility: hidden;
}
button.back-to-top.show::after,
button.back-to-top.show::before{
  visibility: visible;
}
button.back-to-top::after {
  border-bottom-color:#fff;
      position: relative;
  top:-24px;
}
button.back-to-top.show {
  display: block;
  background: #fff;
  color: #00ab6c;
  font-size: 25px;
  right: 25px;
	bottom: 50px;
  height: 50px;
  width: 50px;
  visibility: visible;
	box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}
button.back-to-top.show:active {
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}
