// global  /////////////////////////
@media (max-width: 1200px) {
  .intro,
  .features,
  .works,
  .plans,
  .make,
  .testimonials,
  .partners,
  .news,
  .quotation,
  .skills,
  .contact,
  .main,
  .portfolio,
  .comments,
  .product,
  .product__inner{
    margin-bottom: 100px;
  }
}

@media (max-width: 950px) {
  .contactPage .intro__title {
    font-size: rem(150);
  }
  .portfolioSinglePage .intro__title {
    font-size: rem(150);
  }
}

@media (max-width: 860px) {
  .btn {
    max-width: 130px;
    padding: 17px 0;
    font-weight: 600;
    font-size: rem(10);
  }
  .aboutPage .intro__title{
    font-size: rem(150);
  }
}

@media (max-width: 768px) {
  .burger {
    top: 20px;
    right: 20px;
    --burger-menu-radius: 3em;
  }
  button.back-to-top.show{
    right: 15px;
    bottom: 15px;
    width: 40px;
    height: 40px;
  }
  button.back-to-top::before,
  button.back-to-top::after {
    margin: 15px auto 0;
  }
  button.back-to-top::after {
    top: -21px;
  }
  .contactPage .intro__title {
    font-size: rem(100);
  }
}

@media (max-width: 760px) {
  .title {
    font-size: rem(50);
  }
}

@media (max-width: 720px) {
  .intro,
  .features,
  .works,
  .plans,
  .make,
  .testimonials,
  .partners,
  .news,
  .quotation,
  .skills,
  .contact,
  .main,
  .portfolio,
  .comments,
  .product,
  .product__inner{
    margin-bottom: 50px;
  }

  .portfolioSinglePage .intro__title {
    font-size: rem(100);
  }
  .subtitle--big{
    letter-spacing: 10px;
  }
}

@media (max-width: 560px) {
  .error__num{
    font-size: rem(120);
  }
  .error__title{
    font-size: rem(30);
  }
  .error__text{
    padding: 0 10px;
    font-size: rem(16);
  }
}

@media (max-width: 540px) {
  .title {
    font-size: rem(35);
  }
  .quote{
    font-size: rem(22);
  }
  .suptitle{
    font-size: rem(20);
  }
  .aboutPage .intro__title{
    font-size: rem(100);
  }
}

@media (max-width: 510px) {
  .portfolioSinglePage .intro__title {
    font-size: rem(70);
  }
}

@media (max-width: 490px) {
  .contactPage .intro__title {
    font-size: rem(70);
  }
}





// header  /////////////////////////

@media (max-width: 768px) {
  .logo {
    margin-top: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 413px) {
  .nav__link {
    font-size: rem(40);
  }
  .social {
    margin-top: 25px;
  }
  .social__link {
    margin: 0 10px;
  }
}

@media (max-height: 450px) {
  .nav__link {
    font-size: rem(35);
  }
  .social {
    margin-top: 20px;
  }
  .social__link {
    margin: 0 10px;
  }
  .social__icon {
    width: 25px;
    height: 25px;
  }
}

@media (max-height: 413px) {
  .nav__link {
    font-size: rem(30);
  }
  .social {
    margin-top: 20px;
  }
  .social__link {
    margin: 0 10px;
  }
  .social__icon {
    width: 25px;
    height: 25px;
  }
}

@media (max-height: 370px) {
  .nav__link {
    font-size: rem(25);
  }
  .social {
    margin-top: 20px;
  }
  .social__link {
    margin: 0 10px;
  }
  .social__icon {
    width: 20px;
    height: 20px;
  }
}

// intro  /////////////////////////
@media (max-width: 1140px) {
  #logo {
    height: 120px;
  }
}

@media (max-width: 860px) {
  .title-svg {
    margin-bottom: 15px;
  }
  #logo {
    height: 80px;
  }
  .intro__subtitle {
    font-size: rem(25);
  }
  .arrows {
    width: 40px;
    bottom: 0;
  }
}

@media (max-width: 650px) {
  #logo {
    height: 45px;
  }
  .intro__subtitle {
    font-size: rem(20);
    padding: 0 15px;
  }
}

// features  /////////////////////////
@media (max-width: 1750px) {
  .features__content-top {
    bottom: 154px;
    margin-right: 70px;

    p {
      font-size: rem(70);
      margin-top: 22px;
    }
  }
  .features__icon-logo {
    width: 200px;
  }
}

@media (max-width: 1500px) {
  .features__title {
    font-size: rem(60);
  }
  .features__content-bottom {
    top: 190px;
    right: -160px;
  }
  .features__play {
    margin-right: 60px;
  }
}

@media (max-width: 1370px) {
  .features__content-top {
    bottom: 75px;
    margin-right: 70px;

    p {
      font-size: rem(50);
      margin-top: 43px;
    }
  }
  .features__icon-logo {
    width: 120px;
  }

  .features__box:last-child {
    display: none;
  }
}

@media (max-width: 1200px) {
  .features__inner {
    flex-wrap: wrap;
    margin-bottom: 50px;

    &:last-child{
      margin-bottom: 0;
    }
  }
  .features__left,
  .features__right {
    width: 100%;
  }
  .features__wraper {
    max-width: 100%;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }
  .features__right-video {
    order: 2;
  }
}

@media (max-width: 760px) {
  .features__title {
    font-size: rem(50);
  }
  .features__content-top {
    margin-right: 15px;
  }
  .features__box-inner {
    top: 10%;
  }
  .features__box:first-child {
    width: 150px;
  }
  .features__cube {
    width: 60px;
    height: 60px;

    &:last-child {
      bottom: 60px;
      right: 60px;
    }
  }

  .features__content-bottom {
    right: -97px;

    p {
      font-size: rem(45);
    }
  }
  .features__play {
    margin-right: 60px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }
  .features__icon-play {
    width: 15px;
    height: 15px;
  }
  .features__border {
    display: none;
  }
  .features__text{
    margin-bottom: 15px;
  }
}

@media (max-width: 600px) {
  .features__content-top {
    transform: rotate(0);
    bottom: 10px;
    left: 10px;
    right: auto;
    margin: 0;

    p {
      font-size: rem(30);
      margin: 0;
      margin-left: 15px;
      height: 100%;
    }
  }
  .features__icon-logo {
    width: 70px;
    height: 44px;
  }

  .features__content-bottom {
    transform: rotate(0);
    top: auto;
    bottom: 10px;
    left: 20px;
    right: auto;
    margin: 0;

    p {
      font-size: rem(30);
      color: $blue;
    }
  }
  .features__play {
    transform: rotate(0);
    margin-right: 35px;
    margin-top: 5px;
  }
}

@media (max-width: 540px) {
  .features__title {
    font-size: rem(35);
  }
}

@media (max-width: 500px) {
  .features__box:first-child {
    width: 100px;
    height: 70px;
  }
  .features__cube {
    width: 30px;
    height: 30px;

    &:last-child {
      bottom: 30px;
      right: 30px;
    }
  }

  .features__boxes-inner {
    width: 50px;
    height: 50px;
  }
  .features__icon-arrows {
    width: 50px;
    height: 50px;
  }
}

// works  /////////////////////////
@media (max-width: 1110px) {
  .works__btn-box{
    margin-bottom: 50px;
  }
  .works__sort-btn{
    margin: 0 10px;
    margin-bottom: 20px;
  }
  .works__wrapper{
    padding-left: 25px;
    padding-bottom: 15px;
  }
}

@media (max-width: 950px) {
  .works__inner{
    justify-content: center;
  }
  .works__item{

    &-vertLong,
    &-big,
    &-horzLong,
    &-small{
      width: 80%;
    }
  }
  .works__col{
    width: 100%;
    align-items: center;
  
    &-small{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
  .works__wrapper{
    padding-left: 40px;
    padding-bottom: 20px;
  }
}

@media (max-width: 720px) {
  .works__btn-box{
    margin-bottom: 30px;
  }
}


@media (max-width: 540px) {
  .works__item{
  
    &-vertLong,
    &-big,
    &-horzLong,
    &-small{
      width: 100%;
    }
  }
  .works__wrapper{
    padding-left: 25px;
    padding-bottom: 15px;
  }
  .works__name{
    font-size: rem(20);
  }
}





// plans  /////////////////////////
@media (max-width: 1240px) {
  .plans{
    padding: 70px 0 90px;
  }
  .plans__wrapper{
    margin-bottom: 40px;
  }
  .plans__inner{
    justify-content: space-around;
  }
  .plans__col{
    margin: 0;
  }
}

@media (max-width: 860px) {
  .plans{
    padding-bottom: 50px;
  }
  .plans__inner{
    flex-direction: column;
    justify-content: start;
  }
  .plans__item{
    margin-bottom: 40px;
  }
}

@media (max-width: 450px) {
  .plans{
    padding: 45px 0 35px;
  }
  .plans__wrapper{
    margin-bottom: 20px;
  }
}






// make  /////////////////////////
@media (max-width: 1670px) {
  .make .container{
    padding: 0;
  }
}

@media (max-width: 1380px) {
  .tabs{
    right: 40px;
    top: 79%;
  }
  .tab__box {
    margin-left: 40px;
  }
}

@media (max-width: 1070px) {
  .tabs{
    top: 68%;
  }
  .tab__box{
    max-width: 600px;
  }
  .tab__slider {
    margin-bottom: 50px;
  }
}

@media (max-width: 1040px) {
  .make__title{
    font-size: rem(60);
  }
}


@media (max-width: 870px) {
  .tab__slider {
    padding-top: 50px;
  }
  .tabs{
    display: flex;
    right: auto;
    left: 3%;
    top: 0;
  }
  .tab{
    margin: 0 15px;
  }
  .tab__box{
    margin-top: 0px;
    max-width: 100%;
    margin-left: 0;
    padding: 0 20px;
  }
}

@media (max-width: 800px) {
  .tab__images{
    min-height: 300px;
  }
  .tab__slide{
    position: relative;
    min-height: 300px;

    img{
      object-fit: cover;
      min-height: 300px;
    }
  }
}

@media (max-width: 780px) {
  .tab__slider {
    margin-bottom: 30px;
  }
  .make__wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .make__logo{
    margin-top: 0;
    margin-bottom: 30px;
  }
  .make__icon-logo{
    width: 200px;
    height: 200px;
  }
  .make__box{
    margin-left: 0;
    max-width: 100%;
  }
  .make__title{
    font-size: rem(50);
    padding-right: 40px;
  }
}

@media (max-width: 550px) {
  .tab__slider {
    padding-top: 60px;
  }
  .tabs{
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .tab__text{
    margin-bottom: 15px;
  }
}

@media (max-width: 540px) {
  .make__title{
    font-size: rem(35);
    padding-right: 30px;

    &::before{
      width: 5px;
    }
  }
  .make__wrapper{
    margin-bottom: 20px;
  }
  .make__icon-logo{
    width: 170px;
    height: 170px;
  }
}

@media (max-width: 450px) {
  .tab{
    font-size: rem(14);
    margin: 0 10px;
  }
}






// testimonials  /////////////////////////
@media (max-width: 1200px) {
  .testimonials{
    padding: 80px 0;
  }
}

@media (max-width: 800px) {
  .testimonials__item{
    padding: 20px 10px;
    max-width: 290px;
  }
}

@media (max-width: 760px) {
  .testimonials{
    padding: 50px 0;
  }
  .testimonials__wrapper{
    margin-bottom: 20px;
  }
  
  .slick-dots{
    margin-top: 45px;
  }
}

@media (max-width: 540px) {
  .testimonials__wrapper{
    padding: 0 5px;
  }
  .testimonials__title{
    font-size: rem(40);
    margin-bottom: 10px;
  }
}







// partners  /////////////////////////
@media (max-width: 1300px) {
  .partners__item{
    padding: 0 20px;
  }
}

@media (max-width: 1200px) {
  .partners{
    margin-bottom: 60px;
  }
}

@media (max-width: 1100px) {
  .partners__item{
    padding: 0 10px;
  }
}

@media (max-width: 700px) {
  .partners{
    margin-bottom: 20px;
  }
  .partners__item{
    width: 50%;
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  .partners__item{
    width: 100%;
  }
}






// news  /////////////////////////
@media (max-width: 1500px) {
  .news__box{
    bottom: 25px;
    left: 50px;
  }
  .news__box-text{
    margin-bottom: 15px;
  }
  .news__box-btn {
    max-width: 130px;
    padding: 17px 0;
    font-weight: 600;
    font-size: rem(10);
  }
}

@media (max-width: 1300px) {
  .news__box{
    bottom: 25px;
    left: 25px;
  }
  .news__box-title{
    font-size: rem(20);
  }
  .news__wrapper{
    margin-top: 20px;
  }
}

@media (max-width: 1100px) {
  .news__inner{
    flex-wrap: wrap;
  }
  .news__col{
    width: 100%;
  }
  .news__item{
    margin-bottom: 40px;
  }
}

@media (max-width: 560px) {
  .news__item{
    margin-bottom: 20px;
    min-height: 250px;

    img{
      object-fit: cover;
      height: 100%;
    }
  }
  .news__image{
    height: 100%;
  }
  .news__box{
    bottom: 10px;
    left: 10px;
    padding-right: 5px;
  }
  .news__box-title{
    margin-bottom: 0px;
  }
  .news__box-text{
    margin-bottom: 10px;
  }
  .news__box-btn {
    max-width: 100px;
    padding: 13px 0;
  }
}




// banner  /////////////////////////
@media (max-width: 760px) {
  .banner__inner{
    padding: 100px 20px;
  }
}

@media (max-width: 570px) {
  .banner__inner{
    padding: 50px 20px;
  }
}





// footer  /////////////////////////
@media (max-width: 1250px) {
  .footer{
    border-bottom: 9px solid #14171d;
  }
  .footer .container{
    padding: 0;
  }
  .footer__inner{
    padding: 100px 15px;
    border-bottom: none;
  }
  .footer__subscribe{
    max-width: 300px;
  }
}

@media (max-width: 1000px) {
  .footer__box{
    max-width: 450px;
  }
}

@media (max-width: 830px) {
  .footer__inner{
    flex-direction: column;
    padding: 50px 15px;
  }
  .footer__box{
    max-width: 100%;
    margin-bottom: 40px;
  }
  .footer__subscribe-title{
    margin-bottom: 40px;
  }
}


// About Page //////////////////////////


// Quotation //////////////////////////
@media (max-width: 1150px) {
  .quotation__inner{
    justify-content: start;
    flex-direction: column;
    align-items: center;
  }
  .quotation__box{
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
    text-align: center;
    align-items: center;
  }
  .quotation__wrapper{
    max-width: 70%;
    margin-left: 0;
  }
}

@media (max-width: 700px) {
  .quotation .container{
    padding: 0;
  }
  .quotation__box{
    padding: 0 15px;
  }
  .quotation__wrapper{
    max-width: 100%;
  }
  .quotation__quote,
  .quotation__author{
    padding: 0 15px;
  }
}


// Skills //////////////////////////
@media (max-width: 1200px) {
  .skills{
    padding: 60px 0 40px;
  }
}

@media (max-width: 1100px) {
  .skills__wrapper{
    margin-bottom: 40px;
  }
  .progress__inner{
    flex-direction: column;
    align-items: center;
  }
  .progress__col{
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .progress{
    margin-bottom: 40px;
  }
}

@media (max-width: 830px) {
  .progress{
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 540px) {
  .skills{
    padding-top: 40px;
  }
}

@media (max-width: 530px) {
  .skills__wrapper{
    margin-bottom: 0px;
  }
  .progress{
    margin-bottom: 0;
  }
}

@media (max-width: 500px) {
  .progress{
    margin-bottom: -20px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 490px) {
  .progress{
    margin-bottom: 0px;
    margin-top: -80px;
  }
}

@media (max-width: 410px) {
  .progress{
    margin-bottom: -40px;
  }
}

@media (max-width: 350px) {
  .progress{
    margin-top: -100px;
  }
}

@media (max-width: 330px) {
  .progress{
    margin-bottom: -50px;
  }
}


// customers //////////////////////////
@media (max-width: 1670px) {
  .customers .container{
    padding: 0;
  }
}

@media (max-width: 1100px) {
  .customers__wrapper{
    justify-content: start;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 950px) {
  .tab__slider-image{
    top: 80%;
  }
}

@media (max-width: 860px) {
  .customers__wrapper{
    margin-bottom: 30px;
  }
}

@media (max-width: 760px) {
  .customers__wrapper{
    margin-bottom: 0px;
  }
  .customers__text{
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .tab__slider-image{
    width: 80%;
  }
}


// customers //////////////////////////
@media (max-width: 1200px) {
  .links__item{
    padding: 50px 0;
  }
  .links__name{
    display: none;
  }
}

@media (max-width: 800px) {
  .links__item{
    padding: 30px 0;
  }
}

@media (max-width: 580px) {
  .links__inner{
    flex-wrap: wrap;
  }
  .links__item{
    padding: 20px 0;
    width: 33.33333%;
    border-right: none;
  }
  .links__icon{
    width: 28px;
    height: 28px;
  }
  .contactPage{
    .links__item{
      border-right: none;
    }
  }
}


// Contact Page //////////////////////////


// Contact //////////////////////////
@media (max-width: 1050px) {
  .contact__inner{
    justify-content: start;
    flex-direction: column;
  }
  .contact__box{
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  .contact__address-inner{
    justify-content: start;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contact__item{
    max-width: 100%;
    margin-bottom: 40px;

    &:last-child{
      margin-bottom: 0;
    }
  }
}

@media (max-width: 720px) {
  .contact__inner{
    margin-bottom: 50px;
  }
  .contact__address-inner{
    padding-top: 50px;
  }
  .contact__item{
    margin-bottom: 25px;
  }
  .contact__address-title{
    font-size: rem(25);
    margin-bottom: 10px;
  }
}




// Map //////////////////////////
@media (max-width: 767px) {
  .map{
    height: 400px;
  }
}



// Portfolio Page //////////////////////////

@media (max-width: 540px) {
  .portfolioSinglePage .works__wrapper{
    padding-left: 30px;
  }
}

// Main //////////////////////////
@media (max-width: 1100px) {
  .main{
    height: 380px;
  }
  .main__title{
    font-size: rem(150);
  }
  .main__subtitle{
    font-size: rem(30);
  }
}

@media (max-width: 800px) {
  .main{
    height: 280px;
  }
  .main__title{
    font-size: rem(100);
  }
  .main__subtitle{
    font-size: rem(24);
  }
}

@media (max-width: 600px) {
  .main__title{
    font-size: rem(60);
  }
  .main__subtitle{
    font-size: rem(22);
  }
}


// Portfolio //////////////////////////
@media (max-width: 1500px) {
  .portfolio .container{
    padding: 0;
  }
}

@media (max-width: 1050px) {
  .portfolio__process-title{
    margin-left: 15px;
  }
  .portfolio__process-items{
    margin: 0 0 40px;
  }
  .portfolio__process-item{
    padding: 15px;
  }
}

@media (max-width: 1000px) {
  .portfolio__description{
    margin-bottom: 40px;
  }
  .portfolio__description-image{
    margin-bottom: 40px;
  }
  .portfolio__description-text{
    font-size: rem(23);
    line-height: 1.4;
    padding: 0 10px;
  }
}

@media (max-width: 800px) {
  .portfolio__process-title{
    margin-left: 10px;
  }
  .portfolio__process-item{
    padding: 10px;
    width: 100%;
  }
  .portfolio__process-item__num{
    margin-bottom: 10px;
  }
}

@media (max-width: 630px) {
  .line{
    margin-bottom: 50px;
  }
  .portfolio__description-items{
    flex-wrap: wrap;
    margin: 0 0 30px;
  }
  .portfolio__description-item{
    padding: 0 10px;
    max-width: 100%;
  }
  .portfolio__process-images__top{
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .portfolio__process-image-small{
    width: 100%;
    margin-bottom: 20px;

    &:first-child,
    &:last-child{
      padding: 0;
    }
  }
  .portfolio__process-image-big{
    width: 100%;
  }
}

@media (max-width: 540px) {
  .portfolio__crumbs{
    text-align: center;
    flex-direction: column;
    padding: 0 5px;
    margin-top: -20px;
    margin-bottom: 20px;

    li{
      margin: 5px 0;

      &::before{
        display: none;
      }
    }
  }
  .portfolio__description-text{
    font-size: rem(18);
    padding: 0 10px;
  }
}


// Comments //////////////////////////
@media (max-width: 1100px) {
  .comments{
    padding-top: 60px;

    .slick-dots{
      margin-top: 35px;
    }
  }
  .comments__text{
    font-size: rem(25);
  }
  .comments__product{
    margin-bottom: 0px;
  }
}

@media (max-width: 610px) {
  .comments__text{
    font-size: rem(20);
  }
}


// Product //////////////////////////
@media (max-width: 1500px) {
  .product .container{
    padding: 0;
  }
}

@media (max-width: 500px) {
  .product__inner{
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }
  .product__col{
    max-width: 360px;
    width: 100%;
    padding: 0;
  }
  .product__image{
    margin-bottom: 20px;

    &:last-child{
      margin-bottom: 0;
    }
  }
}

@media (max-width: 420px) {
  .product__social{
    flex-direction: column;

    .footer__link{
      padding: 7px 0;
  
      &::before{
        display: none;
      }
    }
  }
}


// Services Page //////////////////////////

// Services //////////////////////////
@media (max-width: 1100px) {
  .intro__title-services{
    font-size: rem(150);
  }
  .intro__subtitle-services{
    font-size: rem(28);
    text-align: center;
  }
  .services__col{

    &:first-child{
      padding-right: 20px;
    }
    &:last-child{
      padding-left: 20px;
    }
  }
  .services__box-left,
  .services__image-right{
  margin-bottom: 40px;
  }
}

@media (max-width: 860px) {
  .services__inner{
    padding: 0;
  }
  .services__col{
    width: 100%;

    &:first-child{
      padding: 0;
      margin-bottom: 20px;
    }

    &:last-child{
      padding: 0;
    }
  }
  .services__box{
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .intro__title-services{
    font-size: rem(100);
  }
  .intro__subtitle-services{
    font-size: rem(24);
    margin-bottom: 0;
  }
}

@media (max-width: 720px) {
  .services__wrapper{
    margin-top: 50px;
  }
}

@media (max-width: 530px) {
  .intro__title-services{
    font-size: rem(65);
    margin-bottom: 15px;
  }
  .intro__subtitle-services{
    font-size: rem(20);
    
  }
}


// Blog Page //////////////////////////

// blogSlider //////////////////////////
@media (max-width: 1200px) {
  .blogSlider__inner{
    margin: 0 -6px;
  }
  .blogSlider__col{
    padding: 0 6px;
  }
  .blogSlider__box{
    left: 20px;
    bottom: 20px;
  }
}

@media (max-width: 1050px) {
  .blogSlider__inner{
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .blogSlider__col{
    width: 100%;
    padding: 0;
  }
  .blogSlider__item{
    margin-bottom: 20px;

    &-small:last-child{
      margin-bottom: 0;
    }
  }
}

@media (max-width: 720px) {
  .blogSlider{
    margin-bottom: 50px;
  }
}

@media (max-width: 600px) {
  .blogSlider .news__mark{
    padding: 5px 5px;
    min-width: 120px;
  }
  .blogSlider__box-title{
    font-size: rem(20);
    max-height: 30px;
    overflow: hidden;
  }
}

@media (max-width: 470px) {
  .blogSlider__box-text{
    max-height: 20px;
  }
}


// blog //////////////////////////
@media (max-width: 1500px) {
  .blog{
    padding: 60px 0 80px;
  }
  .blog__inner{
    margin: 60px -7px 40px;
  }
  .blog__row{
    padding: 0 7px;
  }
}

@media (max-width: 1300px) {
  .blog__box{
    padding: 20px;
  }
}

@media (max-width: 700px) {
  .blog{
    padding-bottom: 40px;
  }
  .blog__inner{
    justify-content: center;
    margin-bottom: 10px;
  }
  .blog__row{
    width: 100%;
    max-width: 455px;

    &:nth-child(n+6){
      display: none;
    }
  }
}