.arrow__icon-btn{
  width: 20px;
  height: 20px;
  fill: $darkBlue;
  transition: linear .2s;
}

.intro__icon{
  width: 28px;
  height: 28px;
  fill: #fff;
}

.logo__icon{
  width: 80px;
  height: 50px;
  // fill: #fff;
}

.footer-logo__icon{
  width: 40px;
  height: 25px;
  fill: #fff;
  position: relative;
  z-index: 2;
}

.features__icon-logo{
  width: 272px;
  height: 166px;
  fill: #fff;
}

.features__icon-play{
  width: 20px;
  height: 20px;
  fill: #000;
}

.features__icon-arrows{
  width: 89px;
  height: 89px;
  fill: #fff;
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.make__icon-logo{
  width: 270px;
  height: 270px;
  fill: #000;
}

.testimonials__icon{
  width: 60px;
  height: 60px;
  fill: #fff;
  position: relative;
  z-index: 2;
}

.social__icon{
  width: 32px;
  height: 32px;
  fill: #fff;
  transition: .35s;
}

.links__icon{
  width: 36px;
  height: 36px;
  fill: #cfcfcf;
  transition: .35s;
}

