.arrow__icon{
  width: 55px;
  height: 55px;
  fill: rgba(#000, .5);
  transition: linear .2s;
}

.intro__icon{
  width: 28px;
  height: 28px;
  fill: #fff;
}

.logo__icon{
  width: 80px;
  height: 50px;
  fill: #fff;
}

.features__icon-logo{
  width: 272px;
  height: 166px;
  fill: #fff;
}

.features__icon-play{
  width: 20px;
  height: 20px;
  fill: #000;
}

.make__icon-logo{
  width: 105px;
  height: 65px;
  fill: #000;
}

.testimonials__icon{
  width: 60px;
  height: 60px;
  fill: #fff;
  position: relative;
  z-index: 2;
}
