$text: #72787a;
$grey: #818586;
$dark: #2a2d2e;
$blue: #7443ff;
$lightBlue: #69d2e7;
$darkBlue: #262b40;
$violet: #9478e7;
$red: #ff878d;
$green: #85bb40;


@function rem($px) {
  @return ($px / 16) +rem;
}

@mixin center{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin Playfair400{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}


