.blogSingle{
  margin-top: 240px;
}
.blogSingle__title{
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}
.blogSingle__subtitle{
  text-align: center;
  font-size: rem(30);
}