.features__inner {
  display: flex;
  margin-bottom: 150px;
}
.features__left {
  width: 38%;
  display: flex;
  justify-content: center;
}
.features__right {
  width: 62%;
  height: auto;
  // background: linear-gradient( to right, rgb(168,237,234) 0%, rgb(254,214,227) 100%);
  position: relative;
  overflow: hidden;
}
.features__wraper {
  max-width: 550px;
  padding: 0 15px;
}

.features__cube-inner {
  position: absolute;
  bottom: 0;
  right: 0;
}
.features__cube {
  position: absolute;
  width: 98px;
  height: 98px;
  background-color: #fff;

  &:first-child {
    bottom: 0;
    right: 0;
  }

  &:last-child {
    bottom: 98px;
    right: 98px;
  }
}

.features__box-inner {
  position: absolute;
  top: 20%;
  right: 0;
  z-index: 2;
}
.features__box {
  background: linear-gradient(to right, rgb(168, 237, 234) 0%, rgb(254, 214, 227) 100%);
  position: absolute;

  &:first-child {
    width: 192px;
    height: 109px;
    top: 0;
    right: 0;

    &::before {
      position: absolute;
      content: "";
      width: 50px;
      height: 2px;
      background-color: #fff;
      left: -25px;
      top: 40px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 94px;
      height: 2px;
      background-color: #fff;
      left: 0px;
      top: 47px;
    }
  }

  &:last-child {
    top: 109px;
    right: 192px;
    width: 93px;
    height: 53px;
  }
}

.features__content {
  position: absolute;
  bottom: 225px;
  right: 7%;
  transform: rotate(-90deg);
  display: flex;

  p {
    margin-top: 10px;
    font-size: rem(90);
    font-weight: 600;
    color: #fff;
  }
}

.features__right-video {
  display: flex;
  background-color: #aeebe9;
  height: 100%;



  .features__image {
    width: 65%;
    position: relative;

    .features__content {
      top: 210px;
      right: -205px;
      z-index: 4;
      align-items: center;

      p {
        margin-top: 0;
      }
    }
    .features__play {
      margin-right: 150px;
      margin-top: 10px;
      transform: rotate(90deg);
      position: relative;
      cursor: pointer;

      &::before {
        position: absolute;
        content: "";
        width: 70px;
        height: 70px;
        background-color: #fff;
        border-radius: 50%;
        top: 37%;
        left: 40%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }
  }

  .features__box:first-child {
    &::before,
    &::after {
      display: none;
    }
  }
  .features__box:last-child {
    &::before {
      position: absolute;
      content: "";
      width: 60px;
      height: 2px;
      background-color: rgba($dark, 0.3);
      left: 0px;
      top: 50px;
      transform: rotate(-45deg);
    }

    &::after {
      position: absolute;
      content: "";
      width: 115px;
      height: 2px;
      background-color: rgba($dark, 0.3);
      left: 11px;
      top: 23px;
      transform: rotate(-45deg);
    }
  }
}
.features__boxes-inner{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 98px;
  height: 98px;
  background-color: $blue;
}
.features__border{
  position: absolute;
  top: -118px;
  right: 118px;
  width: 70px;
  height: 70px;
  background: none;
  border: 3px solid #fff;
}
