.make{
  margin-bottom: 140px;
}
.make__wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 20px 100px;
}
.make__logo{
  margin-top: -40px;
}
.make__box{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  text-align: right;
  margin-left: 15px;
}
.make__title{
  padding-right: 70px;
  position: relative;

  &::before{
    position: absolute;
    content: '';
    width: 10px;
    height: 90%;
    background-color: $blue;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
}
.make__subtitle{
  margin-top: -10px;
}