.partners{
  margin-bottom: 80px;
}
.partners__inner{
  display: flex;
  flex-wrap: wrap;
}
.partners__item{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;

  img{
    transition: linear .2s;
    opacity: .6;
  }

  &:hover{
    img{
      opacity: 1;
    }
  }
}