.works{
  margin-bottom: 150px;
}

.works__btn-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 90px;
}
.works__sort-btn{
  font-size: rem(18);
  color: $grey;
  font-weight: 500;
  margin: 0 16px;
  background: none;
  border: none;
  cursor: pointer;
}
.mixitup-control-active{
  color: $dark;
}

.works__inner{
  display: flex;
  flex-wrap: wrap;
  margin-left: -22px;
  margin-right: -22px;
  overflow: hidden;
}
.works__row{
  display: flex;
}

.works__col{
  width: 50%;
  display: flex;
  flex-direction: column;

  &-small{
    width: 25%;
  }
}
.works__col-middle{
  width: 25%;
  padding: 0 12px;
}

.works__item{
  position: relative;
  margin-bottom: 24px;
  overflow: hidden;
  padding: 0 12px;

  &-vertLong{
    width: 25%;
  }

  &-big{
    width: 50%;
  }

  &-horzLong,
  &-small{
    width: 100%;
  }
}

.works__wrapper{
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 50px;
  padding-bottom: 40px;
  color: #fff;
}
.works__filter{
  font-size: rem(18);
  font-weight: 500;
}
.works__name{
  font-size: rem(24);
  font-weight: 600;
}
.works__btn{
  margin-top: 26px;
}