.skills {
  padding: 120px 0 60px;
  background-color: #f0fafd;
  margin-bottom: 140px;
}
.skills__wrapper{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 460px;
  margin: 0 auto 70px;
}


.progress__inner{
  display: flex;
  justify-content: center;
}
.progress__col{
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // width: 33.33333%;
}

.progress{
	width: 260px;
  height: 350px;
  margin: -50px 70px 80px;
}
.progress .track, .progress .progress__fill{
	fill: rgba(0, 0, 0, 0);
  stroke-width: 2;
  stroke-linecap: round;
	transform: rotate(90deg)translate(0px, -80px);
}

.progress .progress__fill {
	stroke-dasharray: 219.99078369140625;
	stroke-dashoffset: -219.99078369140625;
	transition: stroke-dashoffset 1s;
}

.progress__fill-blue {
	stroke: $blue;
}
.progress__fill-orange {
  stroke: #feb646;
}
.progress__fill-aqua {
	stroke: #43d5ff;
}
.progress__fill-red {
	stroke: $red;
}
.progress__fill-green {
	stroke: #acda93;
}
.progress__fill-grey {
	stroke: #b7cacb;
}

.progress .progress__value{
  font-size: rem(14);
  font-weight: 300;
  color: $dark;
	text-anchor: middle;
}
.progress .progress__text {
  font-size: rem(6);
  font-weight: 400;
  color: $grey;
  text-anchor: middle;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
		cursor: default;
}
